<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><?= LAYOUT_TITLE ?></title>

    <link rel="stylesheet" href="<?= URL_ASSETS?>css/bootstrap.min.css">
    <link rel="stylesheet" href="<?= URL_ASSETS?>css/picto.css">
    
    <script src="<?= URL_ASSETS?>vendor/jquery/jquery.min.js"></script>
    <script src="<?= URL_ASSETS?>vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="index.php">Blogo BackOffice</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle <?php if(strpos(LAYOUT_VIEW,'admin/user/')!==false): ?>active<?php endif;?>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Utilisateurs</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item <?php if(LAYOUT_VIEW == 'admin/user/list'): ?>active<?php endif;?>" href="<?= httpGetUrl('userList') ?>">Liste</a>
                            <a class="dropdown-item <?php if(LAYOUT_VIEW == 'admin/user/add'): ?>active<?php endif;?>" href="<?= httpGetUrl('userAdd') ?>">Ajouter</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle <?php if(strpos(LAYOUT_VIEW,'admin/category/')!==false): ?>active<?php endif;?>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item <?php if(LAYOUT_VIEW == 'admin/category/list'): ?>active<?php endif;?>" href="<?= httpGetUrl('categoryList') ?>">Liste</a>
                            <a class="dropdown-item <?php if(LAYOUT_VIEW == 'admin/category/add'): ?>active<?php endif;?>" href="<?= httpGetUrl('categoryAdd') ?>">Ajouter</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle <?php if(strpos(LAYOUT_VIEW,'admin/article/')!==false): ?>active<?php endif;?>" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Article</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item <?php if(LAYOUT_VIEW == 'admin/article/list'): ?>active<?php endif;?>" href="<?= httpGetUrl('articleList') ?>">Liste</a>
                            <a class="dropdown-item <?php if(LAYOUT_VIEW == 'admin/article/add'): ?>active<?php endif;?>" href="<?= httpGetUrl('articleAdd') ?>">Ajouter</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-user"></i> <?= $_SESSION['user']['name'] ?></a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="<?= httpGetUrl('logout') ?>">Logout</a>
                        </div>
                    </li>
                </ul>
                
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Recherche">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Recherche</button>
                </form>
            </div>
        </nav>
    </header>
    
    <main class="container">

        <h1><?= LAYOUT_TITLE ?></h1>

        <?php if (isset($flashbag) && $flashbag != false) : ?>

            <?php foreach ($flashbag as $message) : ?>
                <div class="alert alert-dismissible alert-<?= $message['level'] ?>" role="alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p><?= $message['message'] ?></p>
                </div>
            <?php endforeach; ?>

        <?php endif; ?>

        <!-- Intégrer la vue de la page (inclure l'html de la page) -->
        <?php
            require(PATH_VIEWS.LAYOUT_VIEW.'.phtml');
        ?>

    </main>


     <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cet element ?
                </div>
                <div class="modal-footer">
                    <form action="#" id="formdelete" method="POST">
                        <?php if(isset($tokenCSRF)) :?>
                            <input type="hidden" name="tokenCSRF" value="<?= $tokenCSRF ?>">
                        <?php endif ?>
                        <input type="hidden" value="" name="id" id="deleteId">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Supprimer</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        //Modal delete Bootstrap
        $('#delete').on('show.bs.modal', function(e) {
            $('#formdelete').attr("action", e.relatedTarget.href);
            $('#formdelete #deleteId').val(e.relatedTarget.dataset.id);
        });
    </script>
</body>
</html>