<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin blog - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="<?= URL_ASSETS?>vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="<?= URL_ASSETS?>css/picto.css">
  <link href="<?= URL_ASSETS?>css/login.css" rel="stylesheet">

  <script src="<?= URL_ASSETS?>vendor/jquery/jquery.min.js"></script>
  <script src="<?= URL_ASSETS?>vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>

<body>

  <div class="wrapper fadeInDown">
    <div id="formContent">

      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first big">
        <i class="icon-user"></i>
      </div>

      <?php if (isset($errors) && count($errors) > 0) : ?>
        <div class="alert alert-danger" role="alert">
          <ul>
            <?php foreach ($errors as $error) : ?>
              <li class="erreur"><?= $error; ?></li>
            <?php endforeach; ?>
          </ul>
        </div>
      <?php endif; ?>

      <!-- Login Form -->
      <form method="POST">
        <input type="text" id="login" class="fadeIn second" name="email" placeholder="Email" value="<?= $dataForm['email'] ?>">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Mot de passe">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="forgotPassword.php">Mot de passe oublié ?</a>
      </div>

    </div>
  </div>

</body>

</html>