
<?php if(!empty($errors)) :?>
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Des erreurs de sont produites</p>
        <ul>
        <?php foreach($errors as $error) :?>
            <li><?=$error?></li>
        <?php endforeach ?>
        </ul>
    </div>
<?php endif ?>

<form method="POST">
    <div class="form-group">
      <label for="firstname">Prénom</label>
      <input type="text" class="form-control <?php if(!empty($errors['firstname'])) :?>is-invalid<?php elseif(!empty($dataForm['firstname'])):?>is-valid<?php endif;?>" name="firstname" id="firstname" aria-describedby="firstnameHelp" placeholder="Prénom" value="<?=$dataForm['firstname']?>">
      <small id="firstnameHelp" class="form-text text-muted">Saisissez un prénom.</small>
      <?php if(!empty($errors['firstname'])) :?><div class="invalid-feedback"><?=$errors['firstname']?></div><?php endif;?>
    </div>
    <div class="form-group">
      <label for="lastname">Nom</label>
      <input type="text" class="form-control <?php if(!empty($errors['lastname'])) :?>is-invalid<?php elseif(!empty($dataForm['lastname'])):?>is-valid<?php endif;?>" name="lastname" id="lastname" aria-describedby="lastnameHelp" placeholder="Nom" value="<?=$dataForm['lastname']?>">
      <small id="lastnameHelp" class="form-text text-muted">Saisissez un nom.</small>
      <?php if(!empty($errors['lastname'])) :?><div class="invalid-feedback"><?=$errors['lastname']?></div><?php endif;?>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control <?php if(!empty($errors['email'])) :?>is-invalid<?php elseif(!empty($dataForm['email'])):?>is-valid<?php endif;?>" name="email" id="email" aria-describedby="emailHelp" placeholder="Email" value="<?=$dataForm['email']?>">
      <small id="emailHelp" class="form-text text-muted">Saisissez une adress email valide.</small>
      <?php if(!empty($errors['email'])) :?><div class="invalid-feedback"><?=$errors['email']?></div><?php endif;?>
    </div>
    <div class="form-group">
      <label for="password">Mot de passe <span class="badge badge-light">Au moins 8 caractères</span></label>
      <div class="row">
          <div class="col-6">
              <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
          </div>
          <div class="col-6">
              <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" placeholder="Confirmez le mot de passe">
          </div>
      </div>
      <?php if(!empty($errors['password'])) :?><div class="invalid-feedback"><?=$errors['password']?></div><?php endif;?>
    </div>
    <div class="form-group">
      <label for="bio">Bio</label>
      <textarea class="form-control" id="bio" name="bio" rows="3" aria-describedby="bioHelp"><?= $dataForm['bio'] ?> </textarea>
      <small id="bioHelp" class="form-text text-muted">Bio de l'utilisateur</small>
    </div>
    <div class="form-group">
      <label for="role">Rôle</label>
      <select class="form-control" id="role" name="role">
          <?php foreach (ROLES as $role => $nameRole) : ?>
              <option value="<?= $role ?>" <?php if ($role == $dataForm['role']) : ?>selected<?php endif; ?>><?= $nameRole ?></option>
          <?php endforeach; ?>
      </select>
      <small id="catHelp" class="form-text text-muted">Sélectionnez un role pour l'utilisateur</small>
    </div>
    <div class="form-group">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" name="valid" id="valid" <?php if ($dataForm['valid'] == true) : ?>checked="" <?php endif; ?>>
        <label class="custom-control-label" for="valid">Activer l'utilisateur</label>
        <small id="validHelp" class="form-text text-muted">L'utilisateur ne pourra pas se loguer si vous désactivez cette option !</small>
      </div>
    </div>
    
    <input type="submit" class="btn btn-primary" value="Ajouter">
</form>