<section>
    <p class="text-right"><a href="<?= httpGetUrl('userAdd') ?>" class="btn btn-primary"><i class="icon-user-plus"></i> Ajouter un utilisateur</a></p>
    <table id="tableDonnee" class="table">
        <thead>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>Actif</th>
            <th></th>
        </thead>
        <tbody>
            <?php foreach ($users as $user) : ?>
                <tr>
                    <td><?= $user['firstname'] ?></td>
                    <td><?= $user['lastname'] ?></td>
                    <td><?= $user['email'] ?></td>
                    <td><?= ROLES[$user['role']] ?></td>
                    <td><span class="d-none"><?= $user['valid'] ?></span><a href=""><i class="big <?php if ($user['valid'] == true) : ?>green icon-toggle-right<?php else : ?>red icon-toggle-left<?php endif; ?>"></i></a></td>
                    <td><a href=""><i class="icon-edit"></i></a> <a href="" data-toggle="modal" data-target="#delete" data-id="<?= $user['id'] ?>"><i class="icon-trash"></i></a></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</section>