
<?php if(!empty($errors)) :?>
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Des erreurs de sont produites</p>
        <ul>
        <?php foreach($errors as $error) :?>
            <li><?=$error?></li>
        <?php endforeach ?>
        </ul>
    </div>
<?php endif ?>

<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" class="form-control <?php if(!empty($errors['title'])) :?>is-invalid<?php elseif(!empty($dataForm['title'])):?>is-valid<?php endif;?>" name="title" id="title" aria-describedby="titleHelp" placeholder="Titre" value="<?=$dataForm['title']?>">
      <small id="titleHelp" class="form-text text-muted">Saisissez un titre.</small>
      <?php if(!empty($errors['title'])) :?><div class="invalid-feedback"><?=$errors['title']?></div><?php endif;?>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control <?php if(!empty($errors['description'])) :?>is-invalid<?php elseif(!empty($dataForm['title'])):?>is-valid<?php endif;?>" name="description" id="description" aria-describedby="titleHelp" placeholder="Description"><?=$dataForm['description']?></textarea>
      <small id="descriptionHelp" class="form-text text-muted">Saisissez une description.</small>
      <?php if(!empty($errors['description'])) :?><div class="invalid-feedback"><?=$errors['description']?></div><?php endif;?>
    </div>
    <div class="form-group">
      <label for="picture">Image</label>
      <input type="file" class="form-control <?php if(!empty($errors['picture'])) :?>is-invalid<?php elseif(!empty($dataForm['picture'])):?>is-valid<?php endif;?>" name="picture" id="picture" aria-describedby="pictureHelp" placeholder="Picture">
      <small id="titleHelp" class="form-text text-muted">Saisissez une image.</small>
      <?php if(!empty($errors['picture'])) :?><div class="invalid-feedback"><?=$errors['picture']?></div><?php endif;?>
    </div>

    <input type="hidden" name="MAX_FILE_SIZE" value="2048" /> 

    <?php if(isset($dataForm['id']) && $dataForm['id']!=null):?>
      <input type="hidden" name="id" value="<?= $dataForm['id'] ?>" /> 
      <input type="submit" class="btn btn-primary" value="Modifier">
    <?php else : ?>
      <input type="submit" class="btn btn-primary" value="Ajouter"> 
    <?php endif ?>

</form>