
<h2>Voulez-vous supprimer la catégorie : <?= $category['title'] ?> ? </h2>
<form action="<?= httpGetUrl('categoryDel') ?> " method="POST">

    <input type="hidden" name="tokenCSRF" value="<?= $tokenCSRF ?>">
    <input type="hidden" name="id" value="<?= $id ?>">
    <a href="<?= httpGetUrl('categoryList') ?>" class="btn btn-info">Non</a>
    <input type="submit" value="Oui" class="btn btn-success">

</form>