<section>
    <p class="text-right"><a href="<?= httpGetUrl('categoryAdd') ?>" class="btn btn-primary"><i class="icon-user-plus"></i> Ajouter une catégory</a></p>
    <table id="tableDonnee" class="table">
        <thead>
            <th>Image</th>
            <th>Title</th>
            <th>Date de création</th>
            <th></th>
        </thead>
        <tbody>
            <?php foreach ($categories as $category) : ?>
                <tr>
                    <td><?php if ($category['picture'] != null): ?> <img src="<?= URL_UPLOADS.'category/'.$category['picture']?>" width="100"><?php endif ?></td>
                    <td><?= $category['title'] ?></td>
                    <td><?= $category['createdAt'] ?></td>
                    <td><a href="<?= httpGetUrl('categoryAdd',['id'=>$category['id']]) ?>"><i class="icon-edit"></i></a> 
                    <a href="<?= httpGetUrl('categoryDel') ?>" data-toggle="modal" data-target="#delete" data-id="<?= $category['id'] ?>" ><i class="icon-trash"></i></a></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</section>