<?php if(!empty($errors)) :?>
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Des erreurs se sont produites</p>
        <ul>
        <?php foreach($errors as $error) :?>
            <li><?=$error?></li>
        <?php endforeach ?>
        </ul>
    </div>
<?php endif ?>

<form method="POST">

    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" class="form-control <?php if(!empty($errors['title'])) :?>is-invalid<?php elseif(!empty($dataForm['title'])):?>is-valid<?php endif;?>" name="title" id="title" aria-describedby="titleHelp" placeholder="Titre" value="<?=$dataForm['title']?>">
      <small id="titleHelp" class="form-text text-muted">Saisissez un titre.</small>
      <?php if(!empty($errors['title'])) :?><div class="invalid-feedback"><?=$errors['title']?></div><?php endif;?>
    </div>

    <div class="form-group">
      <label for="category">Catégorie</label>
      <select class="form-control" id="category" name="category">
          <?php foreach ($categories as $category) : ?>
              <option value="<?= $category['id'] ?>"><?= $category['title'] ?></option>
          <?php endforeach; ?>
      </select>
      <small id="catHelp" class="form-text text-muted">Sélectionnez une catégorie</small>
    </div>

    <div class="form-group">
      <label for="content">Article</label>
      <textarea class="form-control" id="content" name="content" rows="20" aria-describedby="contentHelp"><?= $dataForm['content'] ?> </textarea>
    </div>

    <?php if(isset($dataForm['id']) && $dataForm['id']!=null):?>
      <input type="hidden" name="id" value="<?= $dataForm['id'] ?>" /> 
      <input type="submit" class="btn btn-primary" value="Modifier">
    <?php else : ?>
      <input type="submit" class="btn btn-primary" value="Ajouter"> 
    <?php endif ?>

</form>