
<h2>Voulez-vous supprimer l'article' : <?= $article['title'] ?> ? </h2>
<form action="<?= httpGetUrl('articleDel') ?> " method="POST">

    <input type="hidden" name="tokenCSRF" value="<?= $tokenCSRF ?>">
    <input type="hidden" name="id" value="<?= $id ?>">
    <a href="<?= httpGetUrl('articleList') ?>" class="btn btn-info">Non</a>
    <input type="submit" value="Oui" class="btn btn-success">

</form>