<section>
    <p class="text-right"><a href="<?= httpGetUrl('articleAdd') ?>" class="btn btn-primary"><i class="icon-user-plus"></i> Ajouter un article</a></p>
    <table id="tableDonnee" class="table">
        <thead>
            <th>Image</th>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Date de création</th>
            <th></th>
        </thead>
        <tbody>
            <?php foreach ($articles as $article) : ?>
                <tr>
                    <td><?php if ($article['picture'] != null): ?> <img src="<?= URL_UPLOADS.'category/'.$article['picture']?>" width="100"><?php endif ?></td>
                    <td><?= $article['title'] ?></td>
                    <td><?= $article['createdAt'] ?></td>
                    <td><a href="<?= httpGetUrl('articleAdd',['id'=>$article['id']]) ?>"><i class="icon-edit"></i></a> 
                    <a href="<?= httpGetUrl('articleDel') ?>" data-toggle="modal" data-target="#delete" data-id="<?= $article['id'] ?>" ><i class="icon-trash"></i></a></td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</section>